{% extends "SBCoreBundle::layout.html.twig" %}
{% block header %}
  <header class="container-fluid no-pad no-marg">
    <div class="btn-group btn-group-justified nav-group">
      <a href="#" class="btn btn-default active">Général</a>
      <a href="#" class="btn btn-default">Geographie</a>
      <a href="#" class="btn btn-default">Immersion</a>
      <a href="#" class="btn btn-default">Augustophe</a>
      <a href="#" class="btn btn-default">Geo Imm 3EF</a>
      <a href="#" class="btn btn-default">Mathematiques</a>
      <a href="#" class="btn btn-default">Geographie</a>
      <a href="#" class="btn btn-default">Immersion</a>
    </div>
    <div class="btn-group btn-group-justified nav-group">
      <a href="#" class="btn btn-default">Geo Imm 3EF</a>
      <a href="#" class="btn btn-default">Mathematiques</a>
      <a href="#" class="btn btn-default">Geographie</a>
      <a href="#" class="btn btn-default">Mathematiques</a>
      <a href="#" class="btn btn-default">Geographie</a>
      <a href="#" class="btn btn-default">Immersion</a>
      <a href="#" class="btn btn-default">Augustophe</a>
    </div>
  </header>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="container-fluid no-pad no-marg">

      </div>
    </div>
  </div>
{% endblock %}
